

.reportTitleBar{
    text-align: center;
    background-color: darkgreen;
    min-height: 45px;
}


.reportTitle{
    color: white;
    font-weight: 700;
}

.reportSubTitle{
  color: white;
  font-weight: 200;
  font-size: 12px;
}

.mainContent{
    height: 83%;
    width: 98%;
}

.filterRow{
    min-height: 55px;
    background-color: #d8d9da87;
    text-align: center;
    padding: 4px;
    /* padding-top: 1%; */
    /* padding-right: 2%; */
}

.headingbar{
    padding: 1px;
    padding-left: 6px;
    background-color: #d8d9da87;
    color: #3d84a6 !important;
}

.heading{
    color: #3d84a6;
    font-weight: bold;
    margin : 6px;
}

.headingbar>.heading{
    color: #3d84a6;
}

.filterCol{
    border: 1px solid darkgray;
    background-color: white;
    margin : 1px;

}

.filterTitle{
    font-size: 12px;
}

.row{
    margin-left: 1%;
    margin-right: 1%;
}

select{
    font-size: 12px;
    min-width: 100%;
    width: 100%;
    text-align: center;
    height: 20px;
}
.chartRow{
    height: 100%;
}

.chartCol{
    height: 99%;
    border: 0.5px solid black;
}

/* CUSTOM MULTISELECT CSS */

ul.multiselect-container > li > a{
    color: black;
    float: none;
    font-size: 12px;

}

button.multiselect {
    background: none;
    font-size: 13px;
    padding: 0;
    border: 0.5px solid grey;
    width: 100%;
    border-radius: 0;
}

div.btn-group{
    width: 100%;
}

input.multiselect-search{
    height: 30px;
}

span.input-group-btn{
    margin-top: 4%;
}

.multiselect-container{
    max-height: 402px !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.multiselect-container > li > a >label{
   padding : 3px 0px 4px 11px
}

.multiselect-container>li {
    padding: 0;
    width: 100%;
}

.multiselect-container .input-group{
    width: 145px;
}

span.multiselect-native-select select{
    left: 0;
}

.chartSubCol{
    height: 50%;
    max-height: 50%;
}
.chartDiv{
    height: 100%;
    max-height: 100%;
}
.chartCol > .chartSubCol {
    height: 49%;
    max-height: 49%;
}

.navigation{
    /* height: 2%; */
    /* max-height: 2%; */
    position: absolute;
    z-index: 10000;
    width: 90%;

}
.prevN,.prevNSpnd{
    float: left;
    cursor: pointer;
    display: none;
}
.nextN,.nextNSpnd{
    float: right;
    cursor: pointer;
    display: none;
}

/* OVERRIDING LOADER FROM COMMON CSS */
.loader{
    position: absolute;
    z-index: 1000;
}
#comment-tab,#chatbot-tab {
    margin-left: -40px;
}

#chatbot {
    width: 40px;
}